/* Defino estilos para toda la pagina*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

/* Navbar*/
/* ------------------------------------------------ */
.cajas {
  background: white;
  /* bordes redondeados. */
  border-radius: 10px;
  /* sombra suave. */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.nav {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  justify-content: center;
  justify-items: center;
  height: 10vh;
  background: #333;
  color: #fff;
}
.nav .nav-content {
  grid-column: 2;
  text-align: center;
}
.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  padding: 10px;
}
.menu a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}
.menu a:hover {
  color: #ffae00;
}
/* Main */
.main {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: repeat(3, auto);
  justify-items: center;
  margin: 20px;
}
.main .about {
  grid-row: 1;
  grid-column: 2;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px;
  margin: 20px;
  text-align: center;
}
.main .proyects {
  grid-row: 2;
  grid-column: 2;
  padding: 20px;
  margin: 20px;
  text-align: center;
}
.proyects a {
  text-decoration: none;
  color: orangered;
}
.list-proyect {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 80px;
  padding: 20px;
}
.list-proyect {
  list-style: none;
}
.main .contact {
  margin: 20px;
  grid-row: 3;
  grid-column: 2;
}

.form {
  text-align: center;
  display: block;
  margin: 10px 0;
  padding: 20px;
  width: 100%;
}
.form .input {
  display: block;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
}
.form button {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  background: #333;
  color: white;
  border-radius: 5px;
}
.form button:hover {
  background: #555;
}
/* . Media queries:

    Define un media query para móviles (pantallas pequeñas) en el que:
        El menú de navegación cambie a columna.
        Los proyectos se organicen en una sola columna.
        La galería de imágenes se reduzca a 2 columnas.
    Define un media query para tablets (pantallas medianas) en el que:
        Los proyectos se organicen en 2 columnas.
        La galería tenga 3 columnas.
    En pantallas grandes (escritorio), mantén el layout de 3 o más columnas. */

/* MediaQueries */
@media (max-width: 750px) {
  .section__article {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 40px;
  }
}
