* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navegación con flexbox:*/
.nav {
  display: flex; /* Flexbox activo */
  justify-content: center; /* Centra horizontalmente los items*/
  align-items: center; /* Centra verticalmente los items*/
  flex-direction: column; /* alinea los items en coluna*/
  background: #242323;
  color: #ffffff;
}

.nav__ul {
  display: flex; /* Para poner las li en linea una tras otra*/
  list-style: none; /* Quita los puntos de la lista */
  gap: 20px; /* Espacio entre elementos*/
}

.nav__li {
}

.nav__a {
  text-decoration: none; /* Quita el subrayado */
  color: aliceblue;
  transition: 0.3s;
}
.nav__a:hover {
  color: #ffcc00;
}
